
*
{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.container
{
    background-color: rgb(63, 84, 109);
}
header
{
    height:80px;
    /* background-color:lightgray; */
    display:flex;
    justify-content:space-between;
    /* padding:20px; */
    border-bottom:1px solid black;
    
}
header h4
{
    padding-top: 20px;
    padding-left:40px;
    padding-right:40px;
}
header img
{
    /* padding-top:0px */
    justify-content:center;
    width:180px;
    /* height */
}
nav
{
    display:flex;
    justify-content:center;
    gap:50px;
    /* background-color:lightblue; */
    height:70px;
    padding-top:20px;
    background-color: black;
}

nav a
{
    padding: 8px;
    border-radius: 5px;
}

nav a:hover
{
    background-color: orangered;
    color: white;
    /* text-decoration:none; */
}
a 
{
    text-decoration: none;
    background-color: black;
    color: white;
    /* padding: 5px; */
    /* border-radius: 10px; */
}

.imagepart
{
    width:80%;
    margin-left:10%;
    /* background-color:lightgray; */
}

.imagepart .firstlineImg
{
    display:flex;
    justify-content:space-between;
    margin-top:30px;
}

.imagepart .firstlineImg h4,button
{
    margin-top:10px;
}
.imagepart .firstlineImg h4
{
    text-align:center;
    color: rgb(198, 167, 167);
}
.imagepart .firstlineImg button
{
  padding: 6px;
  width:230px;
  cursor: pointer;
}
.imagepart .firstlineImg img
{
    cursor: pointer;
}

.imagepart .firstlineImg button:hover
{
    background-color: black;
    color: white;
}
