*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    width: 100vw;
}
.wrapper
{
    width: 100vw;
    padding-right: 60px;
    margin-left: 10px;
}


header 
{
    margin-top: 5px;
    border: 1px solid black;
    height: 15vh;
    background-color: rgb(62, 57, 57);
    
}
header h1
{
    color: white;
    padding-left: 10px;
}

nav
{
    width: 100%;
    background-color: black;
    display:flex ;
    justify-content:space-between;
    height: 10vhpx;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-right: 60px;
}

 .left button
{
    background-color:gray;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

nav .left a
{
    text-decoration: none;
    color: white;
    padding-right: 10px;
}
nav .right button
{
    color: white;
    background-color: gray;
    padding: 0px 5px 0px 5px;
}

.row
{
    /* width: 100vw; */
    margin-left: 10px;
    margin-top: 10px;
}

#lpart
{
    /* background-color: aquamarine;  */
}

#rpart
{
    /* background-color: darkslateblue; */
}

.fbox
{
    padding: 0px 0px 10px 10px;
    border: 1px solid black;
    
}

.fbox button
{
    padding: 0px 10px 0px 10px;
}

.para
{
    display: flex;
    justify-content:space-between;
}
.fpara , .spara
{
    padding-top: 10px;
}
footer
{
    width: 98vw;
    height: 10vh;
    padding-left: 20px;
    background-color: rgb(140, 138, 138);
    text-align: start;
    padding-top: 10px;
}
footer a
{
    text-decoration: none;
}
#rpart h2
{
    font-weight: bold;
}

.b1
{
    
    display: flex;
    justify-content:stretch;
    /* background-color: gray; */
    /* text-align: center;
     */

}

.b
{
    margin-bottom: 20px;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    background-color: gray;
    position: relative;
}

.b p
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}